* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: aqua;
}

body {
    background-color: blueviolet;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif line-height: 0%
}

header {
    background-color: rgb(63, 165, 42);
    color: yellowgreen;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

footer {
    background-color: antiquewhite;
    color: antiquewhite;
    padding: 15px;
    text-align: center;
}